.node > circle {
  fill: #dddddd;
  stroke: #777777;
  stroke-width: 2px;
}

.node > text {
  font-family: sans-serif;
  text-anchor: middle;
  pointer-events: none;
}

.link {
  stroke: #DDD;
  stroke-width: 4px;
  marker-end: url(#end-arrow);
}
#end-arrow {
  fill: #DDD;
}
